
/* Header */
.header-offer {
    text-align: center;
    background-color: #000;
    padding: 6px 0;
}
.header-offer__content {
    font-size: 14px;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(-225deg, #fff, #fff 29%, #e23c2c 67%, #fff800);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-animation: textclip 7s linear infinite;
    animation: textclip 7s linear infinite;
}

/* header-info */
.header-info {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-bottom: 1px solid #d8d8d8;
}
.header-info__list {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    align-self: center;
}
.header-info__item {
    display: inline-block;
}
.header-info__item:not(:last-child) a {
    border-right: 1px solid #a1a7ac;
}

.header-info__link {
    color: #424d58;
    text-decoration: none;
    padding: 0 8px;
    font-size: 16px;
}
.header-info__link i {
    font-size: 13px;
}
.header-info__link span {
    margin-left: 4px;
    font-size: 13px;
}
.header-info__link:hover {
    color: #000;
}

.header-info__social {
    display: flex;
    align-items: center;
}
.header-info__social a {
    color: #424d58;
    padding: 3px 10px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}
.header-info__social a:hover {
    color: #000;
}

/* header-search */
.header-search {
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-search__box {
    background-color: #f3f3f3;
    max-width: 500px;
    margin: auto;
}
.header-search__logo img {
    width: 120px;
}
.header-search__filter {
    padding: 6px 15px;
    margin: 4px 0;
    color: #666;
    font-weight: 600;
    border-right: 1px solid #d0d0d0;
}
.header-search__box input {
    border: none;
    background-color: transparent;
}
.header-search__box button:last-child {
    border-radius: 0;
    border: none;
    padding: 0 20px;
    background-color: var(--primary-color);
}
.header-search__box button:last-child:focus {
    box-shadow: unset;
}
.header-search__box button:first-child {
    margin: 10px 8px;
    border-right: 1px solid #e0e0e0;
}

.header-search__box input:focus {
    background-color: transparent;
    box-shadow: none;
}
.header-search__box input::placeholder {
    color: #ccc;
}

.header-search__lang {
    display: flex;
    border-right: 1px solid #e0e0e0;
    margin-right: 15px;
}
.header-search__lang .lang__item {
    margin-right: 12px;
}
.header-search__lang .lang__item i {
    font-size: 13px;
}
.header-search__lang .lang__item:first-child,
.header-search__lang .lang__item:last-child {
    position: relative;
}
.header-search__lang .lang__item:first-child:hover .item__list {
    display: block;
    opacity: 1;
}
.header-search__lang .lang__item:last-child:hover .item__list {
    display: block;
    opacity: 1;
}
.header-search__lang .lang__item a {
    text-decoration: none;
    color: #5f5d5d;
}
.header-search__lang .lang__item .item__list {
    position: absolute;
    right: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    top: 30px;
    list-style-type: none;
    padding-left: 0;
    z-index: 1;
    background-color: #fff;
    display: none;
    opacity: 0;
    transition: 0.2s;
}
.header-search__lang .lang__item:first-child .item__list::after {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    left: 10px;
    height: 20px;
    width: 100%;
    background: transparent;
}
.header-search__lang .lang__item:last-child .item__list::after {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    left: 10px;
    height: 20px;
    width: 100%;
    background: transparent;
}
.header-search__lang .lang__item .item__list a {
    display: block;
    padding: 5px 16px;
}
.header-search__lang .lang__item .item__list li:not(:last-child) a {
    border-bottom: 1px solid #e4e4e4;
}
.header-search__lang .lang__item .item__list a:hover {
    background-color: #f3f3f3;
}

.header-search__icons {
    display: flex;
    width: 100px;
    justify-content: flex-start;
}
.header-search__icons .icon {
    margin-right: 15px;
    font-size: 22px;
}
.header-search__icons .icon a {
    color: #5f5d5d;
}
.header-search__icons .icon a:hover {
    color: #000;
}
.header-search__icons .icon:last-child {
    position: relative;
}
.cart-badge {
    position: absolute;
    top: -10px;
    right: -15px;
    padding: 2px 8px;
    font-size: 13px;
    border-radius: 30px;
    /* align-self: flex-end; */
    color: #fff;
    background-color: var(--primary-color);
}

/* header-navbar */
.header-navbar {
    padding: 20px 0;
    background: #f3f3f3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.12);
}
.onscroll.header-navbar {
    padding: 16px 0 !important;
    width: 100%;
    position: fixed;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12); */
    top: -95px;
    z-index: 33;
    /* right: 0; */
    transition: top 0.3s ease-in-out;
    /* padding: 30px 0; */
    background: #f3f3f3;
}
.header-navbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navbar nav {
    max-width: 600px;
}
.header-navbar__icon-menu:hover {
    cursor: pointer;
    color: var(--primary-color);
}
.header-navbar__icon-menu {
    font-size: 30px;
    transition: 0.2s;
}
.header-navbar .my-navbar {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: inline-block;
}
.header-navbar .my-navbar li {
    display: inline-block;
}
.header-navbar .my-navbar li a {
    margin-bottom: 0;
    padding-left: 0;
    padding: 12px 20px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    transition: all ease 0.2s;
}
.header-navbar .my-navbar li a:hover {
    color: var(--primary-color);
}

.header-navbar__btn-login .btn {
    color: #fff;
    border: none;
    min-width: 161px;
    padding: 12px 28px;
    font-weight: 600;
    background: var(--primary-color);
}
.header-navbar__btn-login .btn:hover {
    opacity: 0.9;
}
.show-head {
    top: -2px !important;
}
/* sidebar */
.sidebar {
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    padding: 30px 0 50px 0;
    height: 100vh;
    width: 250px;
    transform: translateX(-250px);
    background-color: #ebebeb;
    z-index: 34;
    border-top-right-radius: 30px;
    /* box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3); */
    border-right: 3px solid var(--primary-color);
    transition: 0.3s;
}
.show {
    transform: translateX(0);
    overflow-x: unset;
    /* transform: translateX(3px); */

}
.sidebar__logo {
    padding-left: 30px;
    padding-bottom: 30px;
}

.sidebar__close {
    position: absolute;
    right: -32px;
    top: 95px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.sidebar__close:hover {
    cursor: pointer;
    color: var(--white-color);
}
.rotate {
    transform: rotate(180deg);
}
.sidebar__title {
    color: var(--primary-color);
    font-style: italic;
    padding-left: 28px;
    margin-bottom: 18px;
    font-size: 25px;
    min-width: 200px;
}
.sidebar__list {
    margin-left: 8px;
    margin-right: 16px;
    border-top: 1px solid #ccc;
    padding-left: 0;
    padding-top: 18px;
    margin-bottom: 0;
    list-style-type: none;
}

.sidebar__list li a{
    position: relative;
    margin: 5px 0;
    min-width: 200px;
    font-size: 22px;
    font-weight: 600;
    display: block;
    padding: 20px;
    text-decoration: none;
    color:#313131;
    transition: all ease 0.15s;
    border-radius: 5px;
}
.sidebar__list li a:hover {
    background-color: var(--primary-color);
    color: var(--white-color)
}
.sidebar__list li:not(:last-child) .sidebar__item-link::after {
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    left: 5%;
    height: 1px;
    bottom: -2px;
    background-color: rgb(221, 221, 221);
}
.sidebar__item-link.color-link {
    background-color: var(--primary-color);
    color: var(--white-color)
}
.expander {
    padding-left: 150px;
}

@keyframes textclip 
{
    to {
        background-position: 200% center;
      }
}