/* service */
.service {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 ;
    border-bottom: 3px solid #d4d4d4;
    margin-bottom: 20px;
}
.service-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-item__img img{
    /* width: 45px; */
    filter: grayscale(100%);
}

.service-item__content {
    margin-left: 20px;

}

.service-item__title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
}

.service-item__body {
    font-size: 12px;
    color: #868686;
}


/* special */
.special {
    padding: 300px 0 80px;
    background-image: url('@/assets/img/banner/about.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.special__mail {
    margin-bottom: 0px;
    font-size: 12px;
    letter-spacing: 1px;

}

.special__title {
    padding: 14px 0;
    letter-spacing: 2px;
}

.special__btn {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    transition: opacity ease 0.2s;
    padding: 6px 18px;
    display: inline-block;
}
.special__btn:hover {
    opacity: 0.9;
}

/* product-list */
.product-list {
    text-align: center;
}

.product-list__title {
    font-size: 28px;
    padding: 25px 0;
}

.product-list__wrapper {
    min-height: 890px;

}

/* filter */
/* filter */
.home--filter {
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.04);
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.home--filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}


.home--filter__btn {
    margin-right: 10px;
    background-color: var(--white-color);
    min-width: 90px;
}
.home--filter__btn.btn--primary{
    background-color: var(--primary-color) !important;
    color: #fff;
}
.home--filter__btn:hover {
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 18px;
    margin-right: 22px;
}

.home-filter__page-current {
    font-size: 22px;
    color: var(--primary-color)  ;
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    width: 72px;
    height: 36px;
    display: block;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0px 5px rgba(0,0,0,0.05);
}

.home-filter__page-btn {
    cursor: pointer;
    text-align: center;
    flex: 1;
    line-height: 40px;
    background-color: var(--white-color);
    text-decoration: none;
}


.home-filter__page-btn.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}
.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}
.home-filter__page-icon {
    font-size: 1.3rem;
    color: var(--primary-color);

}
.select-input {
    cursor: pointer;
}

.select-input__wrapper{
    background-color: #fff;
    background-color: var(--white-color);
    padding: 6px 12px;
    min-width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.select-input:hover .select-input__list{
    display: block;
}


.select-input__list{
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding-left: 0;
    margin-top: 2px; 
    box-shadow: 0 0 10px 3px rgba(0, 0,0, 0.05);
    z-index: 1;
    transition: all ease 0.2s;
}
.select-input__list::before{
    display: block;
    content: '';
    width: 100%;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: -11px;
}


.select-input__link{
    text-decoration: none;
    text-align: start;
    color: #000;
    display: block;
    padding: 8px 30px 8px 8px ;
}
.select-input__link:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}
.filter-search__input:focus {
    border-color: #ccc;
    box-shadow: unset;
}
.btn:focus {
    outline: unset;
    box-shadow: unset;
}
.btn-search {
    background-color: var(--primary-color);
    color: #fff;
}
.btn-search:hover {
    color: #fff;
    opacity: 0.9;
}